<link href="/css/dashboard.css" rel="stylesheet">

<div class="container">
    <p>hi , <%= username %></p>
</div>
<div id="page-top" class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/dashboard"><b>
                            <img src="/img/logo-icon.png" alt="homepage" class="dark-logo" />
                            <img src="/img/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span>
                            <img src="/img/logo-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="/img/logo-light-text.png" class="light-logo" alt="homepage" /></span>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item hidden-sm-up"> <a class="nav-link nav-toggler waves-effect waves-light"
                                href="javascript:void(0)"><i class="fa fa-bars"></i></a></li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <a href="/profile/logout" style="font-weight: 600; margin-right: 10px; border: 2px solid; padding: 7px;border-radius: 5px;" class="text-muted">LOGOUT</a>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span style="color:white; text-align: center; font-size: 14px; font-weight: 400;"><%= username %></span>
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)"><i
                        class="fa fa-bars"></i></a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)"><i
                        class="fa fa-times"></i></a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark text-muted" aria-expanded="false"><i
                                    class="fa fa-tachometer text-muted "></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li> <a class="waves-effect waves-dark text-muted" aria-expanded="false"><i
                                    class="fa fa-comments text-muted"></i><span class="hide-menu">Chat</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark text-muted" aria-expanded="false"><i
                                    class="fa fa-users text-muted"></i><span class="hide-menu"></span>Online
                                Operators</a>
                        </li>
                        <li> <a class="waves-effect waves-dark text-muted" aria-expanded="false"><i
                                    class="fa fa-settings text-muted"></i><span class="hide-menu"></span>Settings</a>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>


        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Upper label -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor pgtitle1">Dashboard</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb dir">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div>


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    Featured
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text"></p>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title"><i class="fa fa-eye fa-5x"
                                                            style="float: right;"></i>Visitors
                                                    </h5>
                                                    <p class="card-text">Customer on website</p>
                                                    <a href="#" class="btn btn-success">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title"><i class="fa fa-phone fa-5x"
                                                            style="float: right;"></i>Answered</h5>
                                                    <p class="card-text">Chats Answered</p>
                                                    <a href="#" class="btn btn-success">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title"><i class="fa fa-tags fa-5x"
                                                            style="float: right;"></i>Something</h5>
                                                    <p class="card-text">With supporting text</p>
                                                    <a href="#" class="btn btn-success">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title"><i class="fa fa-tags fa-5x"
                                                            style="float: right;"></i>Something</h5>
                                                    <p class="card-text">With supporting text</p>
                                                    <a href="#" class="btn btn-success">Go somewhere</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer text-muted">
                                    text
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            © 2018 Chat
        </footer>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.3/sticky-kit.min.js" integrity="sha512-MAhdSIQcK5z9i33WN0KzveJUhM2852CJ1lJp4o60cXhQT20Y3friVRdeZ5TEWz4Pi+nvaQqnIqWJJw4HVTKg1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>