
<div class="container" style="margin-top:10%;">
    <h1 style="text-align: center;">HOME</h1>

    <a href="/users/login" class="btn btn-block btn-primary">Login</a>
    <a href="/users/register" class="btn btn-block btn-success">Register</a>
    <br>


</div>