body {
    font-family: "Lato", sans-serif;
    background-color: whitesmoke;
    /* clip-path: circle(61.7% at 50% 38%); */
    /* clip-path: circle(90.8% at 16% 23%); */
}

.sidenav {
    height: 100%;
    background-color: #43cbdd;
    /* clip-path: circle(61.7% at 50% 38%);  */
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        clip-path: circle(61.7% at 50% 38%); 
    }
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 45%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color:black;
}

.login-main-text h2{
    font-weight: 500;
}

.btn-blue{
    background-color: #43cbdd !important;
    color: #fff;
}
.btn-blue:hover{
    background-color: green !important;
    color: #fff;
}